@import url("https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Inter, sans-serif;
    overflow-x: hidden;
  }
  body {
    font-family: Inter, sans-serif;
    background: #0b0a0a;
  }
}

@layer components {
  .heading1 {
    @apply font-mons font-bold text-xl leading-normal lg:text-4xl lg:leading-[4.5rem] text-primary;
  }
  .heading2 {
    @apply font-mons font-bold text-xl leading-normal lg:text-2xl lg:leading-[4.5rem] text-primary;
  }
  .paragraph {
    @apply font-sans font-normal text-md leading-normal text-primary;
  }
}

.lending-page-bg {
  background: url("../src/assets/images/bg-one.png");
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-size: cover;
}

.section-two-bg {
  background: url("../src/assets/images/bg-two.png");
  height: 100%;
  width: 100%;
  position: absolute;
  top: 394px;
  z-index: -10;
  left: 0;

  background-size: cover;
  background-repeat: no-repeat;
}

.secondaryBtnGradient {
  padding: 13px 52px;
  border-radius: 57.112px;
  border: 2.004px solid #ee0bd7;

  background: rgba(255, 255, 255, 0.1);

  backdrop-filter: blur(16.53229522705078px);
}
.hoverSecondaryBtnGradient {
  background-color: #ee0bd7;
}

.primaryBtnGradient {
  background: linear-gradient(89deg, #f20493 4.32%, #9616c3 93.14%);
}

/* .hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
} */

.hero-img {
  width: 58vw;
  height: 57vh;
}

.card-item {
  border-radius: 19.037px;
  border: 2.004px solid #ee0bd7;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(16.53229522705078px);
}
.header-bg1 {
  background: url("../src/assets/images/bg-ellipse1.svg");
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 1;
  z-index: -10;
}
.plateform-dropdown {
  border-radius: 7.014px;
  border-top: 1.002px solid #ee0bd7;
  border-right: 1.002px solid #ee0bd7;
  border-bottom: 1.002px solid #ee0bd7;
  border-left: 12.023px solid #ee0bd7;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(16.53229522705078px);
}

.buy-unix-token-btn {
  border-radius: 57.112px;
  border: 2.004px solid #ee0bd7;
  padding: 13.025px 41.08px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(16.53229522705078px);
}
.buy-btn-gradiant {
  background: linear-gradient(90deg, #f20493 18.03%, #9616c3 99.67%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.partnership-card {
  border-radius: 19.037px;
  border: 2.004px solid #ee0bd7;

  background: rgba(255, 255, 255, 0.1);

  backdrop-filter: blur(16.53229522705078px);
}
.email-card-container {
  border-radius: 38px;
  border: 9.05px solid #ee0bd7;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(74.65984344482422px);
  box-sizing: border-box;
}

.email-inp {
  border-radius: 75.4px;
  border: 2.646px solid #ee0bd7;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(21.826412200927734px);
}

.social-icon {
  border-radius: 5.7px;
  border: 0.6px solid #ee0bd7;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(4.9499993324279785px);
}

.mobileSidebar {
  position: fixed;
  width: 100vw;
  background: #0a0d14;
  height: 100vh;
  z-index: 998;
  left: 0;
  overflow-y: auto;
  top: -1000px;
  box-shadow: 0 0 6px 0 rgb(0 0 0 / 10%);
}

.mobileSidebar,
.mobileSidebar.open {
  transition: all 0.4s ease-out;
  -webkit-transition: all 0.4s ease-out;
}
.mobileSidebar.open {
  top: 0;
  left: 0;
}

.login-btn-mob {
  padding: 5px 10px;
  border-radius: 57.112px;
  border: 2.004px solid #ee0bd7;

  background: rgba(255, 255, 255, 0.1);

  backdrop-filter: blur(16.53229522705078px);
}

.header-menu-list .header-submenu {
  display: none;
}
.header-menu-list:hover .header-submenu {
  display: flex;
}

.subMenu_gradient {
  background: linear-gradient(
    101.39deg,
    rgba(204, 112, 60, 0.8) 3.47%,
    rgba(189, 0, 125, 0.8) 153.96%
  );
}
.shadow-headerMenu {
  border: 2.004px solid #ee0bd7;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(74.65984344482422px);
  box-sizing: border-box;
}

.card-price-bg {
  border-radius: 6.012px;
  background: linear-gradient(90deg, #f204da 0%, #9616c3 100%);
}
